/*DOCUMENT INFORMATION
    - Document: Site de vin
    - Version: 1.0.0
    - Author: Emilien
*/

/*COLORS 
    - h1
    - h2
    - h3
    - Button
    - Button server
*/

/*FONTS
    - Default

*/

/* GLOBAL
================================*/

html {
    background-color: #fff;

}

h1, h2, h3, h4 {
    font-family: 'Prompt', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    word-spacing: 5px;
}

h1 {
    color: #5c5c3d;;
}

h2 {
    color: #5c5c3d;
    text-align: center;
    font-size: 175%;
    margin-top: 25px;
    margin-bottom: 25px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: darkolivegreen;
    width: 100px;
    content: " ";
    margin: 0 auto;
    margin-top: 10px;
}

h3 {
    font-size: larger;
}

h3 img {
    width: 50%;
    height: 50%;
}

h4 {
    word-spacing: 2px;
}

p {
    font-size: x-small;
    font-weight: 300;
    line-height: 20px;
}

h6 {
    color: black;
}

section {
    padding: 5px 0 15px 0;
}

/* HEADER
================================*/

header {
    background-image: url(../Images/vigne.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.home-title {
    position: absolute;
    top: 30%;
    font-family: 'Prompt', sans-serif;
    
}

.home-title h1 {
    font-size: 340%;
    color: grey;
}

.home-title p{
    color: darkred;
}

/* Button */

.btn{
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    border: 2px outset #fff;
    border-radius: 10px;
    transition: bakcground-color 2s, color 1s, border 1s;
    margin-bottom: 20px;
}

.btn-contact {
    background-color: darkolivegreen;
    color: #fff;

}

.btn-full {
    background-color: darkolivegreen;
    border: 2px outset darkolivegreen;
    color: #fff;
    margin-right: 15px;

}

.btn-ghost {
    border: 2px outset #fff;
    color: gray;
}

.btn-full:hover {
    background-color: yellowgreen;
    color: darkgreen;
}

.btn-ghost:hover {
    background-color: yellowgreen;
    border: 2px solid darkolivegreen;
    color: #fff;
}

.btn-abo {
    border: 2px solid darkolivegreen;
    color: #fff;
}

.btn-novice {
    background-color: darkolivegreen;
    border: 2px solid white;
}

.btn-amateur {
    background-color: rgb(104, 139, 43);
    border: 2px solid white;
}

.btn-confirme {
    background-color: rgb(146,194,63);
}

.btn-expert {
    background-color: #fff;
    color: black;
}

/* QUI SOMMES NOUS ? - CAROUSEL
================================*/

.carousel {
    background-color: #fadcac;
}

.carousel-cite {
    top:50%;
    transform: translateY(-50%);
    bottom:initial;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 5px;
    color: rgb(253, 253, 201);
    text-align: center;
    text-shadow: rgb(109, 0, 0) 1px 0 10px;
}

.carousel-cite p {
    justify-content: center;
    text-align: center;
    margin-bottom: 0;
    font-size: medium;
    color: black;
    padding-bottom: 10px;
}

.carousel-slide {
    margin: 5px 0 50px 0;
}

.carousel-item img {
    width: 1080px;
    height: 600px;
}

.carousel a {
    text-decoration: none;
}


/* AVIS CLIENT
================================*/

.clients {
    background-image: url(../Images/vigne.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 25px;
}

blockquote {
    padding: 5px;
    font-style: italic;
    line-height: 130%;
}

blockquote:before {
    font-size: 800%;
    font-family: 'Sanchez', serif;
    position: absolute;
    top: 30px;
    left: 5px;
    color: rgba(255, 255, 255, 0.3);
}

cite {
    font-size: 90%;
    display: block;
    margin-top: 20px;
}

cite img {
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

/* NOS WINEBOX
================================*/

.abo {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-bottom: 40px;
}

.abo h3 {
    color: #fff;
    font-weight: 300;
}

.abo h4 {
    font-size: 150%;
}

.abo-title {
    padding: 10px 10px 0 10px;
    border-bottom: 1px solid grey;
}

.abo span {
    font-weight: 100;
    font-size: 40%;
    position: relative;
    top: -15px;
    left: 2px;
}

.abo-content ul {
    list-style: none;
    padding: 20px;
    font-weight: 300;
    line-height: 35px;
}

.abo-content ul li i {
    font-size: 90%;
    margin-right: 10px;
}

.abo-signup {
    text-align: center;
}

.novice {
    background-color: #fff;
}

.amateur {
    background-color: #d9ffb3;
}

.confirme {
    background-color: #b3ff66;
}

.expert {
    background-color: #a6ff4d;
}

.novice h3 {
    color: black;
}

/* PAGE CONTACT
================================*/

.contact-form {
    margin-bottom: -10px;
}

.contact-form label {
    color: #fff;
}

.contact-message {
    width: 100%;
}

.map {
    position: relative;
    padding-bottom: 85%;
    height: 0;
    overflow: hidden;
}

.map iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.logo-contact {
    padding-right: 5px;
}

.contact-lien a {
    text-decoration: none;
    color: black;
}

.contact-lien p {
    margin: 15px 0 15px 0;
}

.form, .map {
    margin-top: 100px;
}

.form   {
    margin-bottom: 20px;
}

.nom-email {
    margin-bottom: 25px;
}

.adress, .phone {
    margin-bottom: 20px;
}
/* FOOTER
================================*/

footer {
    color: #fff;
    height: 70px;
}

footer p {
    color: black;
}

footer a {
    text-decoration: none;
}
.footer-contact {
    border-left: grey solid 5px;
}

.footer-contact h6 a {
    text-decoration: none;
    color: black;
}

.footer-rubrique h6 a {
    text-decoration: none;
    color: black;
}

.bitcoin{
    color: orange;
}
.ethereum {
    color: gray;
}

/* Page annexe
==========================================================================================
==========================================================================================*/


/* TITRE ANNEXE
================================*/

.annexe-title {
    margin-top: 50px;
}


/* BOUTEILLES
================================*/

.bouteilles {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    padding-top: 20px;
    margin-bottom: 15px;
    transform: 2s ;
}

.bouteilles h3 {
    text-align: left;
}

.bouteilles-produits h4 {
    font-size: large;
    text-align: center;
}

.bouteilles-produits {
    text-align: center;
    align-content: center;
    font-size: larger;
}

.bouteilles-produits:hover {
    transform: scale(1.1);
    border: solid black 2px;
}

.bouteilles-produits img {
    border: inset rgb(255, 219, 119) 6px;
    width: 100px;
    height: 120px;
    margin-bottom: 20px;
}

.bouteilles ul li {
    list-style: "-";
    color: black;
}

.bouteilles ul {
    padding-left: 10px;
}

.photos-fabrication img {
    width: 220px;
    height: 110px;
    border-radius: 25% 10%;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
    border: thick double rgb(250, 250, 250);
    margin-top: 40px;
}

.photos-fabrication:hover {
    transform: scale(1.5);
}

.cepages p::first-letter {
        font-size: 25px;
        color: #640000;
        float: left;
        margin-right: 2px;
        text-align: justify;
}

/* PAGE QUI SOMMES NOUS ?
================================*/

.quisommesnous h2 {
    margin-top: 90px;
}

.quisommesnous-texte {
    background-image: url(../Images/fondtexte.png);
    background-repeat: no-repeat;
    background-size: 600px 570px;
    background-position: center;
    align-content: center;
    text-align: center;
}

.quisommesnous-texte p {
    padding: 0px 65px 0 65px;
    color: black;
}

.quisommesnous-texte h4 {
    text-decoration: double black;
    padding-top: 30px;
}

.histoire img {
    width: 590px;
    height: 300px;
    padding: 10px 0 10px 0;
}


/* PAGE FAMILLE DES VINS
================================*/

.famille-vin {
    background-color: #fadcac;
}

.famille-details {
    background-color: #197163;
    padding: 5px 25px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    padding-top: 20px;
}

.famille-details img {
    display: block;
    margin: 0 auto;
    width: 60%;
    height: 275px;
    
}

.famille-details h4 {
    text-align: center;
    font-size: medium;
    padding-top: 10px;
}

.famille-details a {
    text-decoration: none;
    color: black;
}

.famille-details p {
    font-size: small;
    font-weight: 300;
    color: #fff;

}
.famille-title {
    padding-top: 50px;
}

.scrollbox {
    height:300px;
    width:800px;
    overflow:scroll;
    border-radius: 5px;
}


.prix {
    text-align: center;
    font-size: medium;
    text-transform: uppercase;
    font-weight: bold;
}

.list-group-item {
    background-color: #158467;
}